.label {
  font-size: 14px;
}
.warper,
.warper__focus {
  min-height: 200px;
  max-height: 400px;
  border: 0.5px solid #666;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.warper__focus {
  outline: auto;
  outline-color: -webkit-focus-ring-color;
  outline-width: 1px;
  outline-offset: 2.5px;
}
.warper .tool_bar,
.warper__focus .tool_bar {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: hsl(0, 0%, 97%);
  padding: 0px 5px;
  gap: 5px;
}
.warper .tool_bar .dividor,
.warper__focus .tool_bar .dividor {
  width: 1px;
  height: 60%;
  background-color: #ccc;
}
.warper .tool_bar .btn,
.warper .tool_bar .btn_disabled,
.warper__focus .tool_bar .btn,
.warper__focus .tool_bar .btn_disabled {
  height: 80%;
  font-family: inherit;
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-wrap: nowrap;
}
.warper .tool_bar .btn:hover,
.warper .tool_bar .btn_disabled:hover,
.warper__focus .tool_bar .btn:hover,
.warper__focus .tool_bar .btn_disabled:hover {
  background-color: hsl(0, 0%, 91%);
  cursor: pointer;
}
.warper .tool_bar .btn[data-active="true"],
.warper .tool_bar [data-active="true"].btn_disabled,
.warper__focus .tool_bar .btn[data-active="true"],
.warper__focus .tool_bar [data-active="true"].btn_disabled {
  background-color: hsl(0, 0%, 85%);
}
.warper .tool_bar .btn[data-active="true"]:hover,
.warper .tool_bar [data-active="true"].btn_disabled:hover,
.warper__focus .tool_bar .btn[data-active="true"]:hover,
.warper__focus .tool_bar [data-active="true"].btn_disabled:hover {
  background-color: hsl(0, 0%, 85%);
}
.warper .tool_bar .btn:active,
.warper .tool_bar .btn_disabled:active,
.warper__focus .tool_bar .btn:active,
.warper__focus .tool_bar .btn_disabled:active {
  background-color: hsl(0, 0%, 85%);
}
.warper .tool_bar .btn_disabled:hover,
.warper__focus .tool_bar .btn_disabled:hover {
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
}
.warper .tool_bar .btn_disabled svg,
.warper__focus .tool_bar .btn_disabled svg {
  fill: #ccc;
}
.warper .iframe,
.warper__focus .iframe {
  border: none;
  background-color: hsl(0, 0%, 99%);
  height: 100%;
  width: 100%;
}
.warper .iframe:hover,
.warper__focus .iframe:hover {
  background-color: hsl(0, 0%, 98%);
}
.alignTxtDrpdwn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alignTxtDrpdwn .alignBtn {
  border: none;
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.alignTxtDrpdwn .alignBtn:hover {
  background-color: hsl(0, 0%, 95%);
}
.addLink_modal {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px;
}
.addLink_modal .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}
.addLink_modal .column:first-of-type {
  width: 70%;
}
.addLink_modal .column label {
  font-size: 12px;
}
.addVideoModal {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  gap: 10px;
}
.addVideoModal label {
  color: hsl(0, 0%, 19%);
  font-size: 13px;
}
