button {
  anchor-name: --anchor;
  background-color: red;
}

#pop {
  position: absolute;
  position-anchor: --anchor;
  top: calc(anchor(bottom) + 5px);

  justify-self: anchor-center;

  margin: 0;
  /* margin-top: 10px;s */
}
